<% if school_signed_in? %>
  <h1> Welcome back! </h1>
  <div class="row">
    <aside class="col-md-4">
      <section class="school_info">
        <%= render 'schools/shared/school_info' %>
      </section>
    </aside>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>Welcome to langscope!</h1>
    <h2>
      Please insert the languages that you speak
    </h2>
    <%= form_for(:scope , url: myscope_path(:format => "json"), method: "get") do |f| %>
      <div class="field">
        <%= f.label :languages %><br>
        <%= f.collection_select(:language_ids, Language.all, :id, :name,{}, {:multiple => true})  %>
      </div>
      <div class="actions">
        <%= f.submit "Check my scope" %>
      </div>
    <% end %>
    <%= link_to "Sign up your school!", new_school_registration_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
