<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @language_entity.name %>
</p>

<p>
  <strong>Street:</strong>
  <%= @language_entity.street %>
</p>

<p>
  <strong>Plz:</strong>
  <%= @language_entity.plz %>
</p>

<p>
  <strong>Email:</strong>
  <%= @language_entity.email %>
</p>

<p>
  <strong>Country:</strong>
  <%= @language_entity.country %>
</p>

<%= link_to 'Edit', edit_language_entity_path(@language_entity) %> |
<%= link_to 'Back', language_entities_path %>
