<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "langscope", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Help", help_path %></li>
        <% if school_signed_in? %>
          <!-- TODO get school path and do this nice-->
          <li><%= link_to "Profile", edit_school_registration_path %></li>
          <li><%= link_to "Settings", edit_school_registration_path %></li>
          <li>
            <%= link_to "Log out", destroy_school_session_path, method: "delete" %>
          </li>
        <% else %>
          <li><%= link_to "Log in", new_school_session_path %></li>
          <li><%= link_to "Sign up", new_school_registration_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
